<div>
    <form [formGroup]="UzenetForm" (ngSubmit)="onAdd()">
      <table class="table">
        <thead>
          <tr>
            <th>Orvosi tanács</th>
            <th colspan="2">Dátum</th>
          </tr>
        </thead>
        <tr *ngIf="!uzenetek.length">
          <td colspan="3"><p>Nem válaszottál pácienst vagy ennek a pacinsnek még ne írtál tanácsot</p></td>
        </tr>
        <tbody *ngIf="uzenetek.length">
          <tr *ngFor="let uzenet of uzenetek">
            <td>{{ uzenet.text }}</td>
            <td>{{ uzenet.date | cso}}</td>
          </tr>
        </tbody>
          <tr *ngIf="bool">
            <td>
              <textarea formControlName="text"  placeholder="kedves {{veznev}} {{kernev}}," cols="100%" rows="10">{{'Kedves '+veznev + ' ' + kernev+','}}</textarea>
            </td>
            <td colspan="2"><button type="submit">Hozzáadás</button></td>
          </tr>
      </table>
    </form>
  </div>
