<div>
    <form [formGroup]="UzenetForm" (ngSubmit)="onAdd()">
      <table class="table">
        <thead>
          <tr>
            <th>Orvosi tanács</th>
            <th colspan="2">Dátum</th>
          </tr>
        </thead>
        <tr *ngIf="!uzenetek.length" class="paros">
          <td colspan="3"><p>Nem válaszottál pácienst vagy ennek a pacinsnek még ne írtál tanácsot</p></td>
        </tr>
        <tbody *ngIf="uzenetek.length">
          <tr *ngFor="let uzenet of uzenetek; let i = index;" [ngClass]="i % 2 === 0 ? 'paros' : 'paratlan'">
            <td>{{ uzenet.text }}</td>
            <td>{{ uzenet.date | cso}}</td>
          </tr>
        </tbody>
          <tr *ngIf="bool">
            <td>
              <mat-form-field>
                <textarea matInput formControlName="text"  placeholder="kedves {{veznev}} {{kernev}},"  rows="10">{{'Kedves '+veznev + ' ' + kernev+','}}</textarea>
              </mat-form-field>
            </td>
            <td colspan="2"><button mat-raised-button color="primary" type="submit">Hozzáadás</button></td>
          </tr>
      </table>
    </form>
  </div>
