<div>
    <table>
        <thead>
            <tr>
                <th>TB</th>
                <th>részletek</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!tabs.length">
                <td colspan="2">Úgytünik nicsenek betegek</td>
            </tr>
            <tr *ngFor="let tb of tabs;">
                <td>{{tb.tb}}</td>
                <td>
                    <button (click)="reszletek(tb.tb)">Részletek</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
