<div>
    <table>
        <thead>
            <tr>
                <th>TAB</th>
                <th>részletek</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!tabs.length">
                <td colspan="2">Úgytünik nicsenek betegek</td>
            </tr>
            <tr *ngFor="let tab of tabs;">
                <td>{{tab.tab}}</td>
                <td>
                    <button (click)="reszletek(tab.tab)">Részletek</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
