<div class="container">
    <h1>Regisztráció</h1>
    <form [formGroup]="regForm" (ngSubmit)="registral()">
        <div >
            <div>
                <label for="veznev">Vezetéknév: </label><input type="text"  formControlName="veznev"/>
            </div>
            <div>
                <label for="kernev">Keresztnév: </label><input type="text"  formControlName="kernev"/>
            </div>
        </div>
        <div>
            <label for="email">Email: </label><input type="text" formControlName="email"/>
        </div>
        <div>
            <label for="jelszo">Jelszó: </label><input type="password" formControlName="jelszo"/>
        </div>
        <div>
            <label for="rejelszo">Jelszó újra: </label><input type="password" formControlName="rejelszo"/>  
        </div>
        <div>
            <label for="tab">TAB: </label><input type="number" formControlName="tab"/>
        </div>
        <div>
            <p>Ön orvos?</p>
            <span><label for="igen">Igen </label><input type="radio" name="orvos" id="igen" value="true" formControlName="orvos"></span>
            <span><label for="nem">Nem </label><input type="radio" name="orvos" id="nem" value="false" formControlName="orvos"></span>
        </div>
        <div>
            <button type="submit">Regisztrál</button>
            <button (click)="vissza()">Vissza</button>
        </div>
    </form>
</div>
