/* You can add global styles to this file, and also import other style files */

$bgcolor: #c44343
$ftcolor: #990000

html
    background-color: $bgcolor
    font-size: 1.5em
    font-weight: bold
    color: $ftcolor