<div>
    <form [formGroup]="TableForm" (ngSubmit)="onAdd()">
      <table class="table">
        <thead>
          <tr class="edge">
            <th>Disztoles</th>
            <th>Szisztoles</th>
            <th colspan="2">Dátum</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!patients.length" class="paros">
            <td colspan="4"><p>Töls fel adatot!</p></td>
          </tr>
          <tr *ngFor="let patient of patients; let i = index;" [ngClass]="i % 2 === 0 ? 'paros' : 'paratlan'">
            <td>{{ patient.disztoles }}</td>
            <td>{{ patient.szisztoles }}</td>
            <td>{{ patient.date | cso}}</td>
            <td>
              <button (click)="onDelete(patient)">Törlés</button>
            </td>
          </tr>
          <tr class="edge">
            <td><input type="number" formControlName="disztoles" /></td>
            <td><input type="number" formControlName="szisztoles" /></td>
            <td colspan="2"><button type="submit">Hozzáadás</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  