

.paros
  background-color: #498c97
.paratlan
   background-color: #f0b4b4
.minus
  color: #ff0000
#plus
  color: #00ff00
form
    width: 100%
td
    width: 10px !important
mat-form-field
  width: 100%
