<div>
    <form [formGroup]="TableForm" (ngSubmit)="onAdd()">
      <table class="table">
        <thead>
          <tr>
            <th>Disztoles</th>
            <th>Szisztoles</th>
            <th>Dátum</th>
            <th>Törlés</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!patients.length" class="paros">
            <td colspan="4"><p>Töls fel adatot!</p></td>
          </tr>
          <tr *ngFor="let patient of patients; let i = index;" [ngClass]="i % 2 === 0 ? 'paros' : 'paratlan'">
            <td>{{ patient.disztoles }}</td>
            <td>{{ patient.szisztoles }}</td>
            <td>{{ patient.date | cso}}</td>
            <td>
              <button mat-fab >
                <mat-icon color="primary" >cancel</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput type="number" formControlName="disztoles" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput type="number" formControlName="szisztoles" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Válasz dátumot</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <button mat-fab type="submit">
                <mat-icon color="primary" >add_circle</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  