<div>
    <form [formGroup]="UzenetForm" (ngSubmit)="onAdd()">
      <table class="table">
        <thead>
          <tr>
            <th>Orvosi tanács</th>
            <th colspan="2">Dátum</th>
          </tr>
        </thead>
        <tr *ngIf="!uzenetek.length">
          <td colspan="3"><p>Orvosaink még nem értékelték ki az adatait</p></td>
        </tr>
        <tbody *ngIf="uzenetek.length">
          <tr *ngFor="let uzenet of uzenetek">
            <td>{{ uzenet.text }}</td>
            <td>{{ uzenet.date | cso}}</td>
            <td>
              <button mat-fab (click)="onDelete(uzenet.id)">
                <mat-icon color="primary">cancel</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <textarea matInput formControlName="text" id="" cols="30" rows="10"></textarea>
              </mat-form-field>
            </td>
            <td colspan="2">
              <button mat-fab type="submit">
                <mat-icon color="primary" >add_circle</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  
