<div>
    <form [formGroup]="UzenetForm" (ngSubmit)="onAdd()">
      <table class="table">
        <thead>
          <tr>
            <th>Orvosi tanács</th>
            <th>Dátum</th>
          </tr>
        </thead>
        <tr *ngIf="!uzenetek.length">
          <td colspan="3"><p>Orvosaink még nem értékelték ki az adatait</p></td>
        </tr>
        <tbody *ngIf="uzenetek.length">
          <tr *ngFor="let uzenet of uzenetek">
            <td>{{ uzenet.text }}</td>
            <td>{{ uzenet.date | cso}}</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  
